@font-face {
  font-family: Helvet;
  src: url(Helvetica.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #000;
}

body {
  font-family: Helvet;
  font-weight: 500;
}

main {
  margin: 4em;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(auto-fit, 420px);
  gap: 2.5em;
  justify-content: center;
  list-style-type: none;
}

li {
  background-color: #FFF;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-rows: 400px;
  padding: 0.5em;
  border-radius: 2px;
}

.lib,
.descript {
  font-size: 1.175rem;
}

.title {
  font-size: 3.2rem;
}

.lib,
.descript,
.title {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.inline-descript {
  font-size: 1.175rem;
  font-weight: 500;
  position: relative;
  right: -0.4em;
  top: 0.05em;
}

.right-border {
  border-right: 6px solid transparent;
  border-image: linear-gradient(#C08552, #A55C1B, #772F1A, #A55C1B, #C08552);
  border-image-slice: 1;
}

.left-border {
  border-left: 4px solid transparent;
  border-image: linear-gradient(#ECCC68,#D3D3D3);
  border-image-slice: 1;
}

.lib {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.descript {
  grid-column: 3 / 4;
  grid-row: 1 / -1;
}

.title {
  grid-column: 4 / 5;
  grid-row: 1 / -1;
}